.favorite-container {
    max-width: 75%;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.favorite-list {
    margin: 2rem;
}

.favorite-item {
    transition: transform 0.3s;
    width: 18rem;
    height: 24rem;
}

.favorite-item:hover {
    transform: translateY(-5px);
}
